<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="YireoTraining\ExampleLokiAdminProducts\Grid\VirtualSoftwareProductTypeRepositoryProvider" type="Yireo\LokiAdminComponents\Grid\GridDataProvider\RepositoryGridDataProvider">
        <arguments>
            <argument name="repositoryProvider" xsi:type="object">YireoTraining\ExampleLokiAdminProducts\Provider\ProductRepositoryProvider</argument>
        </arguments>
    </virtualType>

    <virtualType name="YireoTraining\ExampleLokiAdminProducts\Form\VirtualSoftwareProductTypeRepositoryProvider" type="Yireo\LokiAdminComponents\Form\FormDataProvider\RepositoryFormProvider">
        <arguments>
            <argument name="repositoryProvider" xsi:type="object">YireoTraining\ExampleLokiAdminProducts\Provider\ProductRepositoryProvider</argument>
        </arguments>
    </virtualType>
</config>
