<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="YireoTraining_ExampleLokiAdminProducts::index" title="Products (Loki)" module="YireoTraining_ExampleLokiAdminProducts" sortOrder="50" parent="Magento_Catalog::inventory" resource="YireoTraining_ExampleLokiAdminProducts::index" action="loki_admin_products/index/grid" />
    </menu>
</config>
